<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/escalaposgrado</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.id.new_generator_mappings">false</property>

        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.AreaDisciplinar"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.Maestria"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.Universidad"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.EstadoPostulacion"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.PrioriodadesDePais"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.Universidad"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.WordpressUser"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.Postulacion"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.Convocatoria"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.LogPostulaciones"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.WordpressCoordinadorMetaData"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.WorpressRol"/>
        <mapping class="org.grupomontevideo.escala.posgrado.model.entity.WordpressUserRol"/>

    </session-factory>


</hibernate-configuration>