<link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
<div xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 20px;">

  <img src="/static/logo_augm.png"/>
  <h1>ESCALA</h1>
  <a th:href="@{/}">Inicio</a>
  | &nbsp;
  <a th:href="@{/perfil}">Perfil</a>
  | &nbsp;
  <a th:href="@{/postulacion}">Postulaci&oacute;n</a>
  | &nbsp;
  <a th:href="@{/administrador}">Administrador</a>
  | &nbsp;
  <a th:href="@{/coordinador}">Coordinador</a>
  | &nbsp;
  <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Salir</a>

</div>