<div class="container" xmlns:th="http://www.thymeleaf.org" th:with="claseActiva=${ACTIVO}">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ESCALA</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" th:classappend="${ACTIVO == '1' ? 'active' : ''}">
          <a class="nav-link" th:href="@{/}" th:inline="text">[[${inicio}]] <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/perfil}" th:inline="text" th:classappend="${ACTIVO == '5' ? 'active' : ''}">[[${perfil}]]</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/postulacion}" th:inline="text" th:classappend="${ACTIVO == '4' ? 'active' : ''}">[[${postulacion}]]</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" th:href="@{/coordinador}" th:inline="text" th:classappend="${ACTIVO == '3' ? 'active' : ''}">[[${coord}]]</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" th:href="@{/administrador}" th:inline="text" th:classappend="${ACTIVO == '2' ? 'active' : ''}">[[${admin}]]</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}" th:inline="text">[[${logout}]]</a>
        </li>
      </ul>
    </div>
  </nav>
</div>