Buenos dias:
La postulación de ID ${postulacion.id} ha sido confirmada por la secretaría Ejecutiva.

Confirme los datos en el sitio Web de ESCALA de POSGRADO: http://grupomontevideo.org/escalaposgrado